In [1]:
if 5 > 2:
    print("five is greater than two!")

five is greater than two!

In [2]:
if 5 > 2:
    print("five is greater than two!")
if 5 > 2:
         print("five is greater than two!")

five is greater than two!
five is greater than two!

In [3]:
x = 5
y = "Hello, World"
print(x)
print(y)

5
Hello, World

In [4]:
#this is a comment
print(y)

Hello, World

In [5]:
print("Hello, World") #this is a comment

Hello, World

In [6]:
#print("Hello, World")
print("Amzart, Gbenga")

Amzart, Gbenga

In [7]:
#this is a
#multiline 
#comment from
#Fort_Lauderdale
print(x)

5

In [8]:
"""this comment is
not   meant to be
here but in a
seperate file"""
print("Chuck_Norris")

Chuck_Norris

In [9]:
x = 5
y = "Timon"
print(x)
print(y)

5
Timon

In [10]:
f = 7 #not sure it is a number or int
g = "Amazing Spiderman" #surely a str and not a title
print(f)
print(g)

7
Amazing Spiderman

In [11]:
x = str("3") # x will be "3"
y = int(3) #  x will be 3
z = float(3) # x will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [12]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [13]:
a = 7
b = "Jose"
c = 3.9
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
x = "Judith"
# is the same as
x = 'Judith'
print(x)

Judith

In [15]:
a = 4
A = "Jeremih"
# A will not overide a
print(A)

Jeremih

In [16]:
print(a)

4

In [17]:
a,b,c = 'gas', 'liquid', 'solid'
print(a)
print(b)
print(c)

gas
liquid
solid

In [18]:
x = y = z = 'Sprite'
print(x)
print(y)
print(z)

Sprite
Sprite
Sprite

In [19]:
carname = "GMC", "Mazda", "Toyota"
a, b, c = carname
print(a)
print(b)
print(c)

GMC
Mazda
Toyota

In [20]:
v = "Python is awesome"
print(v)

Python is awesome

In [21]:
a = "Python"
b = "is"
c = "awesome"
print(x, y, z)

Sprite Sprite Sprite

In [22]:
print(a, b, c)

Python is awesome

In [23]:
print(a + b + c)

Pythonisawesome

In [24]:
f = 5
b = 15
print(5 + 15)

20

In [25]:
f = 5
d = "Guy"
print(f, d)

5 Guy

In [26]:
v = "awesome"

def myfunc():
    print("Python is " + v)

myfunc()

Python is awesome

In [27]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [28]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [29]:
c = "awesome"

def myfunc():
    c = "delirious"
    print("Python is " + c)
    
myfunc()

print("Python is " + c)

Python is delirious
Python is awesome

In [30]:
v = "sensational"

def myfunc():
    v = "brillant"
    print("Python is " + v)

myfunc()

print("Python is " + v)

Python is brillant
Python is sensational

In [31]:
def myfunc():
    global x
    x =  "lavish"
    
myfunc()

print("Python is " + x)

Python is lavish

In [32]:
carname = "Aston Martin", "Lamborgini Diablo", "Ford GT", "Jaguar F-type", "Nissan GT-R", "McLaren Auto"
a, b, c, d, e, f = carname
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

Aston Martin
Lamborgini Diablo
Ford GT
Jaguar F-type
Nissan GT-R
McLaren Auto

In [33]:
print(a, b, c, d, e, f)

Aston Martin Lamborgini Diablo Ford GT Jaguar F-type Nissan GT-R McLaren Auto

In [34]:
print(type(carname))

<class 'tuple'>

In [35]:
print(range(4))

range(0, 4)

In [36]:
list(("apple", "banana", "cherry"))

['apple', 'banana', 'cherry']

In [37]:
tuple(("apple", "banana", "cherry"))

('apple', 'banana', 'cherry')

In [38]:
frozenset(("apple", "banana", "cherry"))

frozenset({'apple', 'banana', 'cherry'})

In [39]:
dict(name="John", age=36)

{'name': 'John', 'age': 36}

In [40]:
b"Hello"

b'Hello'

In [41]:
g = ('fiend', )
print(g)
print(type(g))

('fiend',)
<class 'tuple'>

In [42]:
g = ('fiend')
print(g)
print(type(g))

fiend
<class 'str'>

In [43]:
bytearray(5)

bytearray(b'\x00\x00\x00\x00\x00')

In [44]:
memoryview(bytes(5))

In [45]:
x = 1    
y = 2.8 
z = 1j   
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [46]:
x = 9
y = 876543
z = -34567
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [47]:
x = 1.4
y = 54.34565
z = -0.76556
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [48]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [49]:
x = 35e3
y = 12E4
z = -87.7e100

print(x)
print(y)
print(z)

35000.0
120000.0
-8.77e+101

In [50]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [51]:
x = 3+5j
y = 7j
z = -8j
print(x)
print(y)
print(z)

(3+5j)
7j
(-0-8j)

In [52]:
x = 7
y = 0.9
z = -7j
a = int(y)
b = float(x)
c = complex(x)
print(a)
print(b)
print(c)

0
7.0
(7+0j)

In [53]:
import random

print(random.randrange(1, 10))

5

In [54]:
import random
print(random.randrange(1, 40))

31

In [55]:
v = 5
v = float(v)
print(v)

5.0

In [56]:
a = 9
b = 9.9
c = '999'
print(a)
print(b)
print(c)

a = int(b)
b = float(a)
c = str(b)
print(a)
print(b)
print(c)

a = float(c)
b = float(a)
c = str(b)
print(a)
print(b)
print(c)

9
9.9
999
9
9.0
9.0
9.0
9.0
9.0

In [57]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [58]:
a = "Hello, World"
print(a[1])
print(a[9])

e
r

In [59]:
for v in "grenada":
    print(v)

g
r
e
n
a
d
a

In [60]:
print(len(a))

12

In [61]:
txt = "the world is a beautiful place"
print("place" in txt)

True

In [62]:
if "world" in txt:
    print("yes 'world' is present.")

yes 'world' is present.

In [63]:
txt = "if i rule  the  world."
if 'rule' in txt:
    print("yes,  'rule' is present.")
else:
    print("no, 'rule' is absent.")
if 'lead' in txt:
    print("yes, 'lead' is present.")
else:
    print("no, 'lead' is absent.")

yes,  'rule' is present.
no, 'lead' is absent.

In [64]:
print(a[2:9])

llo, Wo

In [65]:
print(a.lower())

hello, world

In [66]:
print(a.strip())

Hello, World

In [67]:
print(a.replace("H", "Y"))

Yello, World

In [68]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [69]:
T = "spice-girls!"
print(T.split(","))

['spice-girls!']

In [70]:
a = "spice"
b = "girls"
c = a + " " + b
print(c)

spice girls

In [71]:
age = 36
txt = "My name is John, I am {}"
print(txt.format(age))

My name is John, I am 36

In [72]:
age = 56
txt = "My name is Snoop, I am {}"
print(txt.format(age))

My name is Snoop, I am 56

In [73]:
quantity = 5
brand = "Jordans"
price = 84.99
purchase  = "i bought {} pairs of {} for {} dollars"
print(purchase.format(quantity,  brand, price))

i bought 5 pairs of Jordans for 84.99 dollars

In [74]:
Txt = "We are the 'Vikings' from  the North"
print(Txt)

We are the 'Vikings' from  the North

In [75]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [76]:
print(a.upper())

HELLO, WORLD!

In [77]:
print(a.lower())

hello, world!

In [78]:
a = "  Hello, World  "
print(a.strip())

Hello, World

In [79]:
print(a.replace("H", "Y"))

  Yello, World

In [80]:
print(a.split(","))

['  Hello', ' World  ']

In [81]:
k = "Roscoe"
l = "Jenkins"
m = k +" "+ l
print(m)

Roscoe Jenkins

In [82]:
price =  99
txt = "My Jordans cost ${}"
print(txt.format(price))
print(txt)

My Jordans cost $99
My Jordans cost ${}

In [83]:
quantity = 4
brand = "Jordans"
price = 99
txt = "I ordered {} pairs of {} for {} dollars each"
print(txt.format(quantity, brand, price))

I ordered 4 pairs of Jordans for 99 dollars each

In [84]:
txt = "Spartans,  What's your \"occupation\"? Louder!"
print(txt)

Spartans,  What's your "occupation"? Louder!

In [85]:
print(txt.lower())
print(txt.upper())
print(txt.capitalize())
print(txt.casefold())
print(txt.encode())
print(txt.count("occupation"))
print(txt.isalpha())
print(txt.index())
print(txt.endswith('your'))
print(txt.islower())
print(txt.isupper())
print(txt.isprintable())
print(txt.startswith("what's"))

spartans,  what's your "occupation"? louder!
SPARTANS,  WHAT'S YOUR "OCCUPATION"? LOUDER!
Spartans,  what's your "occupation"? louder!
spartans,  what's your "occupation"? louder!
b'Spartans,  What\'s your "occupation"? Louder!'
1
False

TypeError: index() takes at least 1 argument (0 given)

In [86]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [87]:
print(bool("Tummy"))
print(bool(24))

True
True

In [88]:
x = "Undercover"
y = 35
print(bool(x))
print(bool(y))

True
True

In [89]:
class my_class():
    def  _len_(self):
        return  0
    
myobj = my_class
print(bool(myobj))

True

In [90]:
def myFunction() :
  return True

print(myFunction())

True

In [91]:
def function():
    return True

print(function())

True

In [92]:
x = 90
print(isinstance(x, int))

True

In [93]:
r = ["guy", "smalls"]
print(isinstance(r, tuple))
print(isinstance(r, list))
print(isinstance(r, set))
print(isinstance(r, str))

False
True
False
False

In [94]:
f = 9 + 5
g = 12 - 7
h = 7*9
i = 81/9
j = 21%5
k = 5**3
l = 57
m = 65//4
n = 675
print(f)
print(g)
print(h)
print(i)
print(j)
print(k)
print(l/11)
print(m)
print(n*0.8)

14
5
63
9.0
1
125
5.181818181818182
16
540.0

In [95]:
class myclass():
    def _len_(self):
        return 0
myobj  = myclass()
print(bool(myobj))

True

In [96]:
def myFunction() :
  return True

print(myFunction())

True

In [97]:
def myFunction() :
    return True

print(myFunction())

True

In [98]:
def myFunction() :
    return True

if myFunction() :
    print("YES!")
else:
    print("NO!")

YES!

In [99]:
x = 300
print(isinstance(x, int))

True

In [100]:
a = 0.9
print(isinstance(0.9, int))
print(isinstance(0.9, float))
print(isinstance(0.9, str))

False
True
False

In [101]:
print(10>9)

True

In [102]:
x = 10
x -= 5  # Subtract 5 from the current value of x
print(x)  # Output: 5

5

In [103]:
x = 10
y = 5
z = 50
print(x>z)
print(x>=y)

False
True

In [104]:
x = 3
x*=5
print(x)

15

In [105]:
x-=2
print(x)

13

In [106]:
x%=5
print(x)

3

In [107]:
x&=6
print(x)

2

In [108]:
x&=7
print(x)

2

In [109]:
x &= 8
print(x)

0

In [110]:
x = 5
x & 8
print(x)

5

In [111]:
c = 5
c ^= 3
print(c)

6

In [112]:
answer = 2^3
print(answer)

1

In [113]:
a = 5
a**=3
print(a)

125

In [114]:
m = 15/3
print(m)
print(type(m))

5.0
<class 'float'>

In [115]:
a = 10<23
if a:
    print("Yes, 10 less than 23 ")
else:
    print("No, 10 not less than 23")

Yes, 10 less than 23

In [116]:
x = 5
x*=3
print(x)
x**=3
print(x)

15
3375

In [117]:
x = 5
x&=3
print(x)

1

In [118]:
e = 5
e//3
print(e)

5

In [119]:
a = 5
b = 7
a*=3
print(a)

15

In [120]:
a//3
print(a)

15

In [121]:
t = ~12
print(t)

-13

In [122]:
f = ~45
print(f)

-46

In [123]:
g, h = ~14, ~17
print(g, h)

-15 -18

In [124]:
speaker = ("Kanye West", "T.D Jakes", "Simon Selenk", "Will Smith", "Sadh Guru", "Kobe Bryant", "Myles Munroe")
print(speaker)
print(len(speaker))
print(type(speaker))
speaker = list((speaker))
print(speaker)

('Kanye West', 'T.D Jakes', 'Simon Selenk', 'Will Smith', 'Sadh Guru', 'Kobe Bryant', 'Myles Munroe')
7
<class 'tuple'>
['Kanye West', 'T.D Jakes', 'Simon Selenk', 'Will Smith', 'Sadh Guru', 'Kobe Bryant', 'Myles Munroe']

In [125]:
print(speaker[3])
print(speaker[-1])
print(speaker[2:5])
print(speaker[4:])
print(speaker[:6])
print(speaker[-6:-2])
if "Kobe Bryant" in speaker:
    print("Yes, Kobe Bryant in speaker")
else:
    print("No, Kobe Bryant not in speaker")
if "Simon Jakes" in speaker:
    print("Yes, Simon Jakes in speaker")
else:
    print("No, Simon Jakes not in speaker")

Will Smith
Myles Munroe
['Simon Selenk', 'Will Smith', 'Sadh Guru']
['Sadh Guru', 'Kobe Bryant', 'Myles Munroe']
['Kanye West', 'T.D Jakes', 'Simon Selenk', 'Will Smith', 'Sadh Guru', 'Kobe Bryant']
['T.D Jakes', 'Simon Selenk', 'Will Smith', 'Sadh Guru']
Yes, Kobe Bryant in speaker
No, Simon Jakes not in speaker

In [126]:
speaker[2] = "Simon Cowell"
print(speaker)
speaker[:3] = ["Simon Senik", "Denzel Washington", "Kanye West", "T.D Jakes"]
print(speaker)

['Kanye West', 'T.D Jakes', 'Simon Cowell', 'Will Smith', 'Sadh Guru', 'Kobe Bryant', 'Myles Munroe']
['Simon Senik', 'Denzel Washington', 'Kanye West', 'T.D Jakes', 'Will Smith', 'Sadh Guru', 'Kobe Bryant', 'Myles Munroe']

In [127]:
speaker.insert(0, "Eric Thomas")
print(speaker)

['Eric Thomas', 'Simon Senik', 'Denzel Washington', 'Kanye West', 'T.D Jakes', 'Will Smith', 'Sadh Guru', 'Kobe Bryant', 'Myles Munroe']

In [128]:
print(len(speaker))

9

In [129]:
speakers =  ["Eric Thomas", "Simon Senik", "Denzel Washington", "Kanye West", "T.D Jakes", "Will Smith", "Sadh Guru", "Kobe Bryant", "Myles Munroe"]
print(speakers)

['Eric Thomas', 'Simon Senik', 'Denzel Washington', 'Kanye West', 'T.D Jakes', 'Will Smith', 'Sadh Guru', 'Kobe Bryant', 'Myles Munroe']

In [130]:
speakers.insert(5, "David Goggins")
print(speakers)
speakers.append('Will Smith')
print(speakers)

['Eric Thomas', 'Simon Senik', 'Denzel Washington', 'Kanye West', 'T.D Jakes', 'David Goggins', 'Will Smith', 'Sadh Guru', 'Kobe Bryant', 'Myles Munroe']
['Eric Thomas', 'Simon Senik', 'Denzel Washington', 'Kanye West', 'T.D Jakes', 'David Goggins', 'Will Smith', 'Sadh Guru', 'Kobe Bryant', 'Myles Munroe', 'Will Smith']

In [131]:
speakers.remove("David Goggins")
speakers.remove("Will Smith")
print(speakers)

['Eric Thomas', 'Simon Senik', 'Denzel Washington', 'Kanye West', 'T.D Jakes', 'Sadh Guru', 'Kobe Bryant', 'Myles Munroe', 'Will Smith']

In [132]:
print(speakers)

['Eric Thomas', 'Simon Senik', 'Denzel Washington', 'Kanye West', 'T.D Jakes', 'Sadh Guru', 'Kobe Bryant', 'Myles Munroe', 'Will Smith']

In [133]:
speakers = ["Eric Thomas", "Simon Senik", "Denzel Washington", "Kanye West", "T.D Jakes", "Will Smith", "Sadguru", "Kobe Bryant", "Myles Munroe"]

for x in speakers:
    print(x)

Eric Thomas
Simon Senik
Denzel Washington
Kanye West
T.D Jakes
Will Smith
Sadguru
Kobe Bryant
Myles Munroe

In [134]:
for i in range(len(speakers)):
    print(speakers[i])

Eric Thomas
Simon Senik
Denzel Washington
Kanye West
T.D Jakes
Will Smith
Sadguru
Kobe Bryant
Myles Munroe

In [135]:
i = 0
while i < len(speakers):
    print(speaker[i])
    i = i + 1

Eric Thomas
Simon Senik
Denzel Washington
Kanye West
T.D Jakes
Will Smith
Sadh Guru
Kobe Bryant
Myles Munroe

In [136]:
i = 0
while i < len(speakers):
    print(speaker[i])
    i = i + 1

Eric Thomas
Simon Senik
Denzel Washington
Kanye West
T.D Jakes
Will Smith
Sadh Guru
Kobe Bryant
Myles Munroe

In [137]:
[print(x) for x in speakers]

Eric Thomas
Simon Senik
Denzel Washington
Kanye West
T.D Jakes
Will Smith
Sadguru
Kobe Bryant
Myles Munroe

[None, None, None, None, None, None, None, None, None]

In [138]:
speakers = ["Eric Thomas", "Simon Senik", "Denzel Washington", "Kanye West", "T.D Jakes", "Will Smith", "Sadguru", "Kobe Bryant", "Myles Munroe"]
speaker = []

for x in speakers:
    if "o" in x:
        speaker.append(x)

print(speaker)

['Eric Thomas', 'Simon Senik', 'Denzel Washington', 'Kobe Bryant', 'Myles Munroe']

In [139]:
guest = ['Eric Thomas', 'Simon Senik', 'Denzel Washington', 'Kobe Bryant', 'Myles Munroe']
speaker = [x for x in guest if x != "Myles Munroe"]
print(speaker)

['Eric Thomas', 'Simon Senik', 'Denzel Washington', 'Kobe Bryant']

In [140]:
speakers = ["Eric Thomas", "Simon Senik", "Denzel Washington", "Kanye West", "T.D Jakes", "Will Smith", "Sadguru", "Kobe Bryant", "Myles Munroe"]
speaker = []

for x in speakers:
    if "o" in x:
        speaker.append(x.upper())

print(speaker)

['ERIC THOMAS', 'SIMON SENIK', 'DENZEL WASHINGTON', 'KOBE BRYANT', 'MYLES MUNROE']

In [141]:
print(speaker[2:4])

['DENZEL WASHINGTON', 'KOBE BRYANT']

In [142]:
print(speakers)

['Eric Thomas', 'Simon Senik', 'Denzel Washington', 'Kanye West', 'T.D Jakes', 'Will Smith', 'Sadguru', 'Kobe Bryant', 'Myles Munroe']

In [143]:
speakers = ["Eric Thomas", "Simon Senik", "Denzel Washington", "Kanye West", "T.D Jakes", "Will Smith", "Sadguru", "Kobe Bryant", "Myles Munroe"]

speaker = [x if x not in ["Simon Senik", "Myles Munroe"] else "Les Brown" for x in speakers]

print(speaker)

['Eric Thomas', 'Les Brown', 'Denzel Washington', 'Kanye West', 'T.D Jakes', 'Will Smith', 'Sadguru', 'Kobe Bryant', 'Les Brown']

In [144]:
speaker.pop()
print(speaker)

['Eric Thomas', 'Les Brown', 'Denzel Washington', 'Kanye West', 'T.D Jakes', 'Will Smith', 'Sadguru', 'Kobe Bryant']

In [145]:
creek = [80, 35, 23, 60, 98, 85]
creek.sort(reverse = True)
print(creek)

[98, 85, 80, 60, 35, 23]

In [146]:
def myfunc(n):
    return abs(n - 98)
    
creek.sort(key = myfunc)
print(creek)

[98, 85, 80, 60, 35, 23]

In [147]:
medical_occupation =  ['nurse', 'gynaecologist', 'paediatrician', 'Oncologist', 'radiologist', 'Anaestiologist']
medical_occupation.sort()
print(medical_occupation)

medical_occupation.sort(key = str.lower)
print(medical_occupation)

medical_occupation.reverse()
print(medical_occupation)

['Anaestiologist', 'Oncologist', 'gynaecologist', 'nurse', 'paediatrician', 'radiologist']
['Anaestiologist', 'gynaecologist', 'nurse', 'Oncologist', 'paediatrician', 'radiologist']
['radiologist', 'paediatrician', 'Oncologist', 'nurse', 'gynaecologist', 'Anaestiologist']

In [148]:
medical_occupation = [occupation.upper() for occupation in medical_occupation]
print(medical_occupation)

['RADIOLOGIST', 'PAEDIATRICIAN', 'ONCOLOGIST', 'NURSE', 'GYNAECOLOGIST', 'ANAESTIOLOGIST']

In [149]:
listed = ['DIETICIAN', 'PHYSICIAN', 'PHYSIOTHERAPIST']
medical_occupation =  list[listed]
print(medical_occupation)

list[['DIETICIAN', 'PHYSICIAN', 'PHYSIOTHERAPIST']]

In [150]:
medical_occupation =  ['nurse', 'gynaecologist', 'paediatrician', 'Oncologist', 'radiologist', 'Anaestiologist']
medical_occupation = [occupation.upper() for occupation in medical_occupation]
print(medical_occupation)

listed = ['DIETICIAN', 'PHYSICIAN', 'PHYSIOTHERAPIST']
Medical_occupation = medical_occupation + listed
print(Medical_occupation)

['NURSE', 'GYNAECOLOGIST', 'PAEDIATRICIAN', 'ONCOLOGIST', 'RADIOLOGIST', 'ANAESTIOLOGIST']
['NURSE', 'GYNAECOLOGIST', 'PAEDIATRICIAN', 'ONCOLOGIST', 'RADIOLOGIST', 'ANAESTIOLOGIST', 'DIETICIAN', 'PHYSICIAN', 'PHYSIOTHERAPIST']

In [151]:
Medical_occupation = ['NURSE', 'GYNAECOLOGIST', 'PAEDIATRICIAN', 'ONCOLOGIST', 'RADIOLOGIST', 'ANAESTIOLOGIST', 'DIETICIAN', 'PHYSICIAN', 'PHYSIOTHERAPIST']
medical_occupation = list(Medical_occupation)
print(medical_occupation)

medical_occupation = [occupation.lower() for occupation in medical_occupation]
print(medical_occupation)

['NURSE', 'GYNAECOLOGIST', 'PAEDIATRICIAN', 'ONCOLOGIST', 'RADIOLOGIST', 'ANAESTIOLOGIST', 'DIETICIAN', 'PHYSICIAN', 'PHYSIOTHERAPIST']
['nurse', 'gynaecologist', 'paediatrician', 'oncologist', 'radiologist', 'anaestiologist', 'dietician', 'physician', 'physiotherapist']

In [152]:
var = ['a', 'b', 'c']
rav = [1, 2, 3]
arv = var + rav
print(arv)

var.extend(rav)
print(var)

for x in rav:
    var.append(x)
print(var)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

In [153]:
jams = ("in the club", "candy shop", "ayo technology",  "look at me now")
print(jams)

hits =  list(jams)
print(hits)

songs = ["monster", "good life"]
for x in songs:
    hits.append(x)
print(hits)

jams = tuple(hits)
print(jams)

('in the club', 'candy shop', 'ayo technology', 'look at me now')
['in the club', 'candy shop', 'ayo technology', 'look at me now']
['in the club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life']
('in the club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life')

In [154]:
jams = ("in the club", "candy shop", "ayo technology",  "look at me now")
songs = ("monster", "good life")
hitz = jams + songs
jams = tuple(hitz)
print(jams)

jams = ("in the club", "candy shop", "ayo technology", "look at me now")
songs = ("monster", "good life")
hitz = jams + songs
jams = tuple(hitz)
print(jams)

('in the club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life')
('in the club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life')

In [155]:
jams = ('in the club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life')
hitz = list(jams)
print(hitz)

hitz.remove("good life")
jams = tuple(hitz)
print(jams)

['in the club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life']
('in the club', 'candy shop', 'ayo technology', 'look at me now', 'monster')

In [156]:
jams = ('in the club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life')
(a, b, c, d, e, f) = jams
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

in the club
candy shop
ayo technology
look at me now
monster
good life

In [157]:
jams = ('in the club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life')
(a, b, *c) = jams
print(a)
print(b)
print(c)

in the club
candy shop
['ayo technology', 'look at me now', 'monster', 'good life']

In [158]:
jams = ('in the club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life')
(a, *b, c) = jams
print(a)
print(b)
print(c)

in the club
['candy shop', 'ayo technology', 'look at me now', 'monster']
good life

In [159]:
jams = ('in da club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life')
for x in jams:
    print(x)

in da club
candy shop
ayo technology
look at me now
monster
good life

In [160]:
jams = ('in da club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life')
for i in range(len(jams)):
    print(jams[i])

in da club
candy shop
ayo technology
look at me now
monster
good life

In [161]:
jams = ('in da club', 'candy shop', 'ayo technology', 'look at me now', 'monster', 'good life')
i = 0
while i < len(jams):
    print(jams[i])
    i = i + 1

in da club
candy shop
ayo technology
look at me now
monster
good life

In [162]:
colors = ('red', 'blue', 'green', 'yellow', 'purple')
(a,b,c,d,e) = colors
print(a)
print(b)
print(c)
print(d)
print(e)

for x in (colors):
    print(x)
    
for i in range(len(colors)):
    print(colors[i])

i = 0
while i < len(colors):
    print(colors[i])
    i = i + 1

red
blue
green
yellow
purple
red
blue
green
yellow
purple
red
blue
green
yellow
purple
red
blue
green
yellow
purple

In [163]:
colors = ('red', 'blue', 'green', 'yellow', 'purple', 'red', 'blue', 'green', 'yellow', 'purple', 'red', 'blue', 'green', 'yellow', 'purple', 'red', 'blue', 'green', 'yellow', 'purple')
blu = colors.count('blue')
print(blu)

4

In [164]:
gre = colors.index('green')
print(gre)

2

In [166]:
colors = {'red', 'blue', 'green', 'yellow', 'purple'}
print(len(colors))
print(type(colors))

5
<class 'set'>

In [167]:
new = ("balls", "racket", "net", "poles")
old = (("balls", "racket", "net", "poles"))
print(old)

('balls', 'racket', 'net', 'poles')

In [169]:
"balls", "racket", "net", "poles"
new = (("balls", "racket", "net", "poles"))
print(new)

('balls', 'racket', 'net', 'poles')

In [171]:
game = set((new))
print(game)

{'poles', 'net', 'balls', 'racket'}

In [172]:
for x in game:
    print(x)
    
print("balls" in game)

poles
net
balls
racket
True

In [173]:
ping = {'towel', 'shorts'}
game.update(ping)
print(game)

game.add("shoes")
print(game)

game.pop()
print(game)

game.remove("net")
print(game)

game.discard("poles")
print(game)

for x in game:
    print(game)
    
print("balls" in game)

{'poles', 'racket', 'towel', 'net', 'balls', 'shorts'}
{'poles', 'racket', 'towel', 'net', 'balls', 'shorts', 'shoes'}
{'racket', 'towel', 'net', 'balls', 'shorts', 'shoes'}
{'racket', 'towel', 'balls', 'shorts', 'shoes'}
{'racket', 'towel', 'balls', 'shorts', 'shoes'}
{'racket', 'towel', 'balls', 'shorts', 'shoes'}
{'racket', 'towel', 'balls', 'shorts', 'shoes'}
{'racket', 'towel', 'balls', 'shorts', 'shoes'}
{'racket', 'towel', 'balls', 'shorts', 'shoes'}
{'racket', 'towel', 'balls', 'shorts', 'shoes'}
True

In [174]:
t = {'racquet', 'balls', "net", "poles", "table"}
tt = {'balls', 'racket', 'poles', 'turf', 'net', 'shoes'}
ball_game = t.union(tt)
print(ball_game)

{'racquet', 'turf', 'balls', 'poles', 'racket', 'net', 'table', 'shoes'}

In [175]:
t = {'racquet', 'balls', "net", "poles", "table"}
tt = {'balls', 'racket', 'poles', 'turf', 'net', 'shoes'}
t.intersection_update(tt)
print(t)

{'poles', 'net', 'balls'}

In [176]:
t = {'racquet', 'balls', "net", "poles", "table"}
tt = {'balls', 'racket', 'poles', 'turf', 'net', 'shoes'}
ttt = t.intersection(tt)
print(ttt)

{'poles', 'net', 'balls'}

In [177]:
t = {'racquet', 'balls', "net", "poles", "table"}
tt = {'balls', 'racket', 'poles', 'turf', 'net', 'shoes'}
t.symmetric_difference_update(tt)
print(t)

{'racket', 'turf', 'racquet', 'table', 'shoes'}

In [178]:
student = {1: 'Mustapha', 2: 'Alero', 3: 'Shuaib', 4: 'Janet'}
print(student)

{1: 'Mustapha', 2: 'Alero', 3: 'Shuaib', 4: 'Janet'}

In [179]:
print(len(student))

4

In [180]:
print(type(student))

<class 'dict'>

In [181]:
name = {'first': 'olabisi', 'middle': 'modupe', 'last': 'agbaje', 'age': 61, 'status': 'widowed', 'color': ['red', 'blue', 'purple']}
name2 = {'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'single', 'color': ['black', 'white', 'sky_blue']}

print(name.get('age'))
print(name2.get('color'))

61
['black', 'white', 'sky_blue']

In [182]:
x = name.values()
y = name2.values()
print(x, y)

dict_values(['olabisi', 'modupe', 'agbaje', 61, 'widowed', ['red', 'blue', 'purple']]) dict_values(['gbenga', 'ibrahim', 'amzart', 41, 'single', ['black', 'white', 'sky_blue']])

In [184]:
name = {'first': 'olabisi', 'middle': 'modupe', 'last': 'agbaje', 'age': 61, 'status': 'widowed', 'color': ['red', 'blue', 'purple']}
name2 = {'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'single', 'color': ['black', 'white', 'sky_blue']}

x = name.values()
print(x)

name['height'] = 1.59
print(name['height'])

dict_values(['olabisi', 'modupe', 'agbaje', 61, 'widowed', ['red', 'blue', 'purple']])
1.59

In [185]:
name = {'first': 'olabisi', 'middle': 'modupe', 'last': 'agbaje', 'age': 61, 'status': 'widowed', 'color': ['red', 'blue', 'purple']}
name2 = {'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'single', 'color': ['black', 'white', 'sky_blue']}

if "agbaje" in name.values():
    print("Yes, agbaje is in name above.")
else:
    print("No, agbaje is not in name above.")

if "tayo" in name2.values():
    print("Yes, tayo is in name2 above.")
else:
    print("No, tayo is not in name2 above.")

Yes, agbaje is in name above.
No, tayo is not in name2 above.

In [186]:
name2.update({'status': 'engaged'})
print(name2)

name2.update({'status': 'engaged'})
print(name2)

{'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'engaged', 'color': ['black', 'white', 'sky_blue']}
{'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'engaged', 'color': ['black', 'white', 'sky_blue']}

In [187]:
print(name, name2)

{'first': 'olabisi', 'middle': 'modupe', 'last': 'agbaje', 'age': 61, 'status': 'widowed', 'color': ['red', 'blue', 'purple']} {'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'engaged', 'color': ['black', 'white', 'sky_blue']}

In [188]:
name2["status"] = "married"
print(name, name2)

{'first': 'olabisi', 'middle': 'modupe', 'last': 'agbaje', 'age': 61, 'status': 'widowed', 'color': ['red', 'blue', 'purple']} {'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'married', 'color': ['black', 'white', 'sky_blue']}

In [189]:
name.pop('age')
name2.pop("color")
print(name, name2)

{'first': 'olabisi', 'middle': 'modupe', 'last': 'agbaje', 'status': 'widowed', 'color': ['red', 'blue', 'purple']} {'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'married'}

In [190]:
del name["color"]
print(name, name2)

{'first': 'olabisi', 'middle': 'modupe', 'last': 'agbaje', 'status': 'widowed'} {'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'married'}

In [191]:
for x in name:
    print(x)
for x in name2:
    print(x)

first
middle
last
status
first
middle
last
age
status

In [192]:
for x in name:
    print(name[x])
for x in  name2:
    print(name2[x])

olabisi
modupe
agbaje
widowed
gbenga
ibrahim
amzart
41
married

In [193]:
for x in name.values():
    print(x)
    
for x in name2.keys():
    print(x)

olabisi
modupe
agbaje
widowed
first
middle
last
age
status

In [194]:
for x, y in name.items():
    print(x, y)

first olabisi
middle modupe
last agbaje
status widowed

In [195]:
name = name2.copy()
print(name)

{'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'married'}

In [196]:
x, y = name, name2
print(x, y)

{'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'married'} {'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'married'}

In [197]:
register = dict(name)
print(register)

{'first': 'gbenga', 'middle': 'ibrahim', 'last': 'amzart', 'age': 41, 'status': 'married'}

In [198]:
JSS1 ={
    1:{
        "name": "gift",
        "age": 9,
        "gender": "female"
    },
    2:{
        "name": "ibrahim",
        "age": 10,
        "gender": "male"
    },
    3:{
        "name": "paris",
        "age": 9,
        "gender": "female"
    }
}
print(JSS1)

{1: {'name': 'gift', 'age': 9, 'gender': 'female'}, 2: {'name': 'ibrahim', 'age': 10, 'gender': 'male'}, 3: {'name': 'paris', 'age': 9, 'gender': 'female'}}

In [199]:
print(JSS1[2]["gender"])

male

In [200]:
student4 = {"name": "tofunmi", "age": 8, "gender":"female"}
student5 = {"name": "success", "age": 10, "gender": "male"}
student6 = {"name": "taiwo", "age": 10, "gender": "male"}

JSS2 = {4:student4, 5:student5, 6:student6}
print(JSS1, JSS2)

{1: {'name': 'gift', 'age': 9, 'gender': 'female'}, 2: {'name': 'ibrahim', 'age': 10, 'gender': 'male'}, 3: {'name': 'paris', 'age': 9, 'gender': 'female'}} {4: {'name': 'tofunmi', 'age': 8, 'gender': 'female'}, 5: {'name': 'success', 'age': 10, 'gender': 'male'}, 6: {'name': 'taiwo', 'age': 10, 'gender': 'male'}}

In [201]:
JSS3 = {1:JSS1, 2:JSS2}
print(JSS3)

{1: {1: {'name': 'gift', 'age': 9, 'gender': 'female'}, 2: {'name': 'ibrahim', 'age': 10, 'gender': 'male'}, 3: {'name': 'paris', 'age': 9, 'gender': 'female'}}, 2: {4: {'name': 'tofunmi', 'age': 8, 'gender': 'female'}, 5: {'name': 'success', 'age': 10, 'gender': 'male'}, 6: {'name': 'taiwo', 'age': 10, 'gender': 'male'}}}

In [202]:
JSS3 = {1: JSS1, 2: JSS2}

# Accessing the name of the student with key 6 in JSS2
student_name = JSS3[2][6]["name"]
print(student_name)

taiwo

In [203]:
JSS3[1][1].pop("name")
print(JSS3)

{1: {1: {'age': 9, 'gender': 'female'}, 2: {'name': 'ibrahim', 'age': 10, 'gender': 'male'}, 3: {'name': 'paris', 'age': 9, 'gender': 'female'}}, 2: {4: {'name': 'tofunmi', 'age': 8, 'gender': 'female'}, 5: {'name': 'success', 'age': 10, 'gender': 'male'}, 6: {'name': 'taiwo', 'age': 10, 'gender': 'male'}}}

In [204]:
JSS3[1][1].update({"name": "damilola"})
print(JSS3)

{1: {1: {'age': 9, 'gender': 'female', 'name': 'damilola'}, 2: {'name': 'ibrahim', 'age': 10, 'gender': 'male'}, 3: {'name': 'paris', 'age': 9, 'gender': 'female'}}, 2: {4: {'name': 'tofunmi', 'age': 8, 'gender': 'female'}, 5: {'name': 'success', 'age': 10, 'gender': 'male'}, 6: {'name': 'taiwo', 'age': 10, 'gender': 'male'}}}

In [205]:
a = 230
b = 440
if a < b:
    print ("a is less than b")
else:
    print("a is greater than b")

a is less than b

In [206]:
a = 230
b = 440
print("A") if a > b else print("=") if a == b else print("B")

B

In [207]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [208]:
a = 280
b = 75
c = 560
if a > b and c > a:
    print("both conditions are true")

both conditions are true

In [209]:
if a < b or b < c:
    print("one of the conditions are True")

one of the conditions are True

In [210]:
if not b > c:
    print("not True")

not True

In [211]:
x = 50
if x > 10:
    print("greater than 10")
    if x >20:
        print("also greater than 20")
    else:
        print("but not above 40")

greater than 10
also greater than 20

In [213]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [215]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

a = 66
b = 57

if a > b:
        print("a is greater than b")
else:
        print("a is not greater than b")

In [1]:
a = 67
b = 69

if a > b:
    print("a isgreater than b")
else:
    print("a is notgreater than b")

a is notgreater than b

In [4]:
if a < b:
    print("a is less than b")
elif a == b:
    print("a isequal to b")
else:
    print("a is greater than b")

a is less than b

In [9]:
a = 7
b = 24
if a > b:
    print("a is greater than b")
else: 
    print("B")

B

In [17]:
c = 13
if a > b:
    print("A")
elif a < c:
    print("B")
else:
    print("C")

if a > b and c > a:
    print("both conditions are true")

B

In [18]:
a = 8
b = 4
c = 13
if a > b and c > a:
    print("both conditions are true")

both conditions are true

In [20]:
if  a > b or a > c:
    print("at least one of the  conditions are true")
if  not a < b:
    print("a is less than b")

at least one of the  conditions are true
a is less than b

In [22]:
v = 82
if v > 10:
    print("v is greater than 10")
    if v > 49:
        print("v is greater than 50")
    else:
        print("v is greater than 80")

v is greater than 10
v is greater than 50

In [26]:
a = 78
v = 148

if v > a:
    pass

In [27]:
a = 33
b = 200

if b > a:
  pass

In [28]:
i = 1
while i < 6:
  print(i)
  i += 1
    
a = 1
while a < 8:
    print(a)
    a += 1

1
2
3
4
5
1
2
3
4
5
6
7

In [30]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1
a = 1
while a < 5:
    print(a)
    if a == 2:
        break
    a += 1

1
2
3
1
2

In [31]:
a = 1
while a < 7:
    a += 1
    if a == 6:
        continue
    print(a)

2
3
4
5
7

In [32]:
a = 1
while a < 6:
    print(a)
    a += 1
else:
    print("a is no longer less than 6")

1
2
3
4
5
a is no longer less than 6

In [33]:
car = ["volvo", "daewoo", "toyota"]
for x in car:
    print(x)

volvo
daewoo
toyota

In [34]:
for x in "daewoo":
    print(x)

d
a
e
w
o
o

In [37]:
car = ["volvo", "daewoo", "toyota", "nissan"]
for x in car:
    print(x)
    if x == "toyota":
        break
music = ["rap", "rnb", "pop", "jazz"]
for x in music:
    print(x)
    if x == "rnb":
        continue
    print(x)

volvo
daewoo
toyota
rap
rap
rnb
pop
pop
jazz
jazz

In [40]:
for x in  range(9):
    print(x)
    
for x in range(3, 11):
    print(x)
    
for x in  range(2, 12, 4):
    print(x)

0
1
2
3
4
5
6
7
8
3
4
5
6
7
8
9
10
2
6
10

In [41]:
for x in range(7):
    print(x)
else:
    print("finally, finished.")

0
1
2
3
4
5
6
finally, finished.

In [42]:
cars = ['toyota', 'rover', 'ford', 'mazda']
colors = ['blue', 'grey', 'black', 'red']
for x in cars:
    for y in colors:
        print(x, y)

toyota blue
toyota grey
toyota black
toyota red
rover blue
rover grey
rover black
rover red
ford blue
ford grey
ford black
ford red
mazda blue
mazda grey
mazda black
mazda red

In [43]:
for x in [0, 1, 2]:
  pass

In [50]:
def MyFunction():
    print("Hello, from a function")
    
MyFunction()

Hello, from a function

In [51]:
def my_function(fname):
    print(fname + " Agbaje")
    
my_function("Tayo")
my_function("Bayo")
my_function("Soji")

Tayo Agbaje
Bayo Agbaje
Soji Agbaje

In [54]:
def my_function(fname, lname):
    print(fname + " " + lname)
my_function('Gbenga', 'Amzart')

Gbenga Amzart

In [55]:
def my_function(fname, lname):
    print(fname + " " + lname)
my_function('Gbenga')

TypeError: my_function() missing 1 required positional argument: 'lname'

In [56]:
def my_function(*kids):
    print("My last kid is " + kids[1])
    
my_function('Sola', 'Dayo', 'Yele')

My last kid is Dayo

In [58]:
def my_function(child3, child2, child1):
    print("My last kid is " + child3)
    
my_function(child1 = 'Yele', child2 = 'Sola', child3 = 'Dayo')

My last kid is Dayo

In [60]:
def my_function(**kids):
    print("His last name is " + kids['lname'])

my_function(fname="Gbenga", lname="Amzart")



def my_function(**kids):
    print("His last name is " + kids['lname'])
    
my_function(fname = "Gbenga",  lname = "Amzart")

His last name is Amzart
His last name is Amzart

In [62]:
def my_function(country = "Nigeria"):
    print("I am from " + country)

my_function("Ghana")
my_function("Chad")
my_function()
my_function("Benin")

I am from Ghana
I am from Chad
I am from Nigeria
I am from Benin

In [63]:
def my_function(cars):
    for x in cars:
        print(x)
        
cars = ['mazda', 'nissan', 'volvo']
my_function(cars)

mazda
nissan
volvo

In [64]:
def my_function(x):
    return 5 * x
print(my_function(3))
print(my_function(5))
print(my_function(7))

15
25
35

In [65]:
x = lambda a : a + 10
print(x(5))

15

In [66]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [67]:
x = lambda a, b, c : a + b + c
print(x(4, 5, 6))

15

In [71]:
def my_func(n):
    return lambda a : a * n

mydoubler = my_func(2)

print(mydoubler(11))

22

In [74]:
def my_func(n):
    return lambda a : a * n
mydoubler = my_func(2)
mytrippler = my_func(3)

print(mydoubler(11))
print(mytrippler(11))

22
33

In [75]:
cars  = ['jeep', 'honda', 'ford', 'toyota', 'nissan']
cars.append('bmw')
print(cars)

['jeep', 'honda', 'ford', 'toyota', 'nissan', 'bmw']

In [76]:
cars.pop(2)
print(cars)

['jeep', 'honda', 'toyota', 'nissan', 'bmw']

In [78]:
cars.index(2)
print(cars)

ValueError: 2 is not in list

In [79]:
print(cars)

['jeep', 'honda', 'toyota', 'nissan', 'bmw']

In [80]:
for x in cars:
    print(x)

jeep
honda
toyota
nissan
bmw

In [83]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
p1 = Person('Greg', 45)
print(p1.name)
print(p1.age)

Greg
45

In [86]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __str__(self):
        return f'{self.name}({self.age})'
p1 = Person('Sean', 35)
print(p1.name)
print(p1.age)

Sean
35

In [91]:
class Automobile:
    def __init__(sillydog, brand, model):
        sillydog.brand = brand
        sillydog.model = model
        
c1 = Automobile('Porshe', 'Cayenne')
c1.model = 'Cayman'
print(c1.brand)
print(c1.model)

Porshe
Cayman

In [100]:
class Automobile:
    def __init__(slumdog, brand, model):
        slumdog.brand = brand
        slumdog.model = model

c1 = Automobile('Lamboghini', 'Diablo')
    
formatted_string = f"This is my favorite brand, {c1.brand} {c1.model}"
print(formatted_string)

This is my favorite brand, Lamboghini Diablo

In [102]:
class Automobile:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

c1 = Automobile('Lamborghini', 'Diablo')

formatted_string = f"This is my favorite brand {c1.brand} {c1.model}"
print(formatted_string)

This is my favorite brand Lamborghini Diablo

In [ ]:
class AUTOS:
    def __init__("gmc", "bmw", "jeep", "rover", "")